-title("Time-Slips Creator")

.well
  %h4 Upload New Word Document
  =render "form"
  
%p
%p
%h4 Previous Time Entries
  
%table
  %tr
    %td.t
      %h5 Name
    %td.t
      %h5 Parse
    %td.t
      %h5 Delete
  -@sheets.each do |s|
    %tr
      %td.t
        =link_to s.name, sheet_path(s)
      %td.t
        =link_to "Parse File", sheet_parse_path(s)
      %td.t
        =link_to "Delete", sheet_path(s), :method => :delete, :confirm => "Are You Sure?"
    
    
